@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:opsz@9..144&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  box-sizing: content-box;
  width: 100%;
}

.text {
  padding: 0 5%;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.text h2 {
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  font-size: 30px;
}
.text p {
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
}
.text a {
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 10px solid #fedad4;
}

#home {
  height: 100vh;
  background: url("./images/photos/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  font-family: "Fraunces", serif;
  color: hsl(0, 0%, 100%);
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 700;
}
#home .logoHamburger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10% 5%;
}
#home .logo {
  height: 25px;
  width: 120px;
}
#home .menuButton {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
#home nav ul {
  display: none;
}
#home nav ul.active {
  display: block;
  position: absolute;
  margin: 0;
  right: 0;
  text-align: right;
  padding-right: 5%;
  background-color: hsl(7, 99%, 70%);
}
#home .title {
  text-align: center;
}
#home .title img {
  width: 10%;
}

#egg {
  height: 45vh;
  background: url("./images/photos/image-transform.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

#brand {
  height: 63vh;
  background-color: #fffbf8;
  display: flex;
  align-items: center;
}
#brand a {
  border-bottom: 10px solid hsl(51, 100%, 49%);
}

#glass {
  height: 45vh;
  background: url("./images/photos/image-stand-out.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

#audience {
  height: 63vh;
  background-color: #fffbf8;
  display: flex;
  align-items: center;
}

#design {
  background: url(./images/photos/image-graphic-design.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10%;
}
#design h2, #design p {
  color: hsl(167, 40%, 24%);
}

#photography {
  background: url(./images/photos/image-photography.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10%;
}
#photography h2, #photography p {
  color: hsl(212, 27%, 19%);
  opacity: 75%;
}

#testimonials {
  background-color: #fffbf8;
  text-align: center;
}
#testimonials h3 {
  text-transform: uppercase;
  color: hsl(210, 4%, 67%);
  letter-spacing: 4px;
  padding: 10% 0;
  font-family: "Fraunces", serif;
  font-size: 1em;
}
#testimonials .people {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
  padding: 0 7% 10% 7%;
}
#testimonials .people .person img {
  width: 20%;
  border-radius: 100%;
}
#testimonials .people .person .experience {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: hsl(213, 9%, 39%);
  line-height: 30px;
}
#testimonials .people .person .name {
  font-size: 18px;
  font-family: "Fraunces", serif;
  font-weight: bold;
}
#testimonials .people .person .job {
  font-size: 15px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: hsl(210, 4%, 67%);
}

.fourphotos .photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.fourphotos .photos img {
  width: 100%;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 52vh;
  background-color: #90d4c5;
}
footer .container .logoTwo {
  width: 50%;
  opacity: 75%;
}
footer .container nav ul {
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: center;
}
footer .container nav ul li {
  padding: 5%;
}
footer .container nav ul li a {
  text-decoration: none;
  color: hsl(168, 34%, 41%);
  padding: 10px 20px;
  background: transparent;
  border-radius: 25px;
  font-size: 18px;
}
footer .container nav ul li a:hover {
  text-transform: uppercase;
  color: hsl(212, 27%, 19%);
  background-color: hsl(0, 0%, 100%);
  font-size: 15px;
}
footer .container .social-media a {
  padding: 0 12px;
}/*# sourceMappingURL=index.css.map */