@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:opsz@9..144&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  box-sizing: content-box;
  width: 100%;
}

.text {
  padding: 0 5%;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

#home {
  height: 100vh;
  background: url("./images/photos/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  font-family: "Fraunces", serif;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-weight: 700;
}
#home .logoHamburger {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
}
#home .logoHamburger nav {
  display: none;
}
#home .logoHamburger .logo {
  padding: 10px 20px;
  height: 25px;
  width: 120px;
}
#home .title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home .title h1 {
  font-weight: 700;
  padding-bottom: 5%;
  font-size: 2.8em;
  letter-spacing: 8px;
}
#home .title img {
  width: 40px;
}
@media screen and (min-width: 768px) {
  #home .logoHamburger nav {
    display: inline-block;
  }
  #home .logoHamburger nav .list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  #home .logoHamburger nav .list li a {
    text-decoration: none;
    padding: 10px 20px;
    background: transparent;
    border-radius: 25px;
    font-size: 18px;
    color: white;
  }
  #home .logoHamburger nav .list li a:hover {
    color: hsl(168, 34%, 41%);
    text-transform: uppercase;
    background-color: hsl(0, 0%, 100%);
    font-size: 15px;
  }
  #home .title h1 {
    font-size: 4em;
  }
}

.desktopGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 400px 300px 400px 500px 500px;
}
.desktopGrid #egg {
  background: url("./images/photos/image-transform.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.desktopGrid #brand {
  background-color: #fffbf8;
  display: flex;
  align-items: center;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.desktopGrid #brand h2 {
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  font-size: 30px;
}
.desktopGrid #brand p {
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
}
.desktopGrid #brand .learnM {
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .desktopGrid #brand {
    color: hsl(212, 27%, 19%);
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    background-color: #fffbf8;
    display: flex;
    align-items: center;
  }
  .desktopGrid #brand p {
    color: hsl(232, 10%, 55%);
    font-family: "Barlow", sans-serif;
  }
  .desktopGrid #brand .learnM {
    color: hsl(212, 27%, 19%);
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-weight: 700;
  }
  .desktopGrid #brand h2 {
    font-family: "Fraunces", serif;
    color: hsl(212, 27%, 19%);
    font-size: 30px;
  }
}
.desktopGrid #glass {
  background: url("./images/photos/image-stand-out.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.desktopGrid #audience {
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  font-size: 30px;
  background-color: #fffbf8;
  display: flex;
  align-items: center;
}
.desktopGrid #audience p {
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
}
.desktopGrid #audience .learnM {
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .desktopGrid #audience {
    color: hsl(212, 27%, 19%);
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    background-color: #fffbf8;
    display: flex;
    align-items: center;
  }
  .desktopGrid #audience p {
    color: hsl(232, 10%, 55%);
    font-family: "Barlow", sans-serif;
  }
  .desktopGrid #audience .learnM {
    color: hsl(212, 27%, 19%);
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-weight: 700;
  }
  .desktopGrid #audience h2 {
    font-family: "Fraunces", serif;
    color: hsl(212, 27%, 19%);
    font-size: 30px;
  }
}
.desktopGrid #design {
  background: url(./images/photos/image-graphic-design.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10%;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  font-size: 30px;
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
}
.desktopGrid #design h2, .desktopGrid #design p {
  color: hsl(167, 40%, 24%);
}
.desktopGrid #photography {
  background: url(./images/photos/image-photography.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10%;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  font-size: 30px;
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
}
.desktopGrid #photography h2, .desktopGrid #photography p {
  color: hsl(212, 27%, 19%);
  opacity: 75%;
}
@media screen and (min-width: 768px) {
  .desktopGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px 600px 600px;
  }
  .desktopGrid #egg {
    order: 2;
  }
  .desktopGrid #brand {
    order: 1;
  }
  .desktopGrid #glass {
    order: 3;
  }
  .desktopGrid #audience {
    order: 4;
  }
  .desktopGrid #design {
    order: 5;
  }
  .desktopGrid #photography {
    order: 6;
  }
}

#testimonials {
  background-color: #fffbf8;
  text-align: center;
}
#testimonials h3 {
  text-transform: uppercase;
  color: hsl(210, 4%, 67%);
  letter-spacing: 4px;
  padding: 10% 0;
  font-family: "Fraunces", serif;
  font-size: 1em;
}
#testimonials .people {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
  padding: 0 7% 10% 7%;
}
#testimonials .people .person img {
  width: 20%;
  border-radius: 100%;
}
#testimonials .people .person .experience {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: hsl(213, 9%, 39%);
  line-height: 30px;
}
#testimonials .people .person .name {
  font-size: 18px;
  font-family: "Fraunces", serif;
  font-weight: bold;
}
#testimonials .people .person .job {
  font-size: 15px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: hsl(210, 4%, 67%);
}
@media only screen and (min-width: 768px) {
  #testimonials .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #testimonials .container .people {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 70%;
  }
}

.fourphotos .photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.fourphotos .photos img {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .fourphotos .photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  background-color: #90d4c5;
}
footer .container .logoTwo {
  height: 25px;
  width: 120px;
  opacity: 75%;
}
footer .container nav {
  color: hsl(168, 34%, 41%);
}
footer .container nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: space-between;
}
footer .container nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  background: transparent;
  border-radius: 25px;
  font-size: 18px;
  padding: 0 12px;
  color: hsl(168, 34%, 41%);
}
footer .container nav ul li a:hover {
  color: hsl(168, 34%, 41%);
  text-transform: uppercase;
  background-color: hsl(0, 0%, 100%);
  font-size: 15px;
}
footer .container .social-media a {
  padding: 0 12px;
  color: black;
}/*# sourceMappingURL=index.css.map */