@import "variables";
@import "normalize";
@import "media-screen";
@import "mixin";

body {
    padding: 0;
    margin: 0;
}
.container {
    box-sizing: content-box;
    width: 100%;
}
.text {
    padding: 0 5%;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    
}

//---HOME--------------------------------------------------------------------------
#home {
    height: 100vh;
    background: url("./images/photos/image-header.jpg");
    @include background-image;
    font-family: $familyTwo;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;


    .logoHamburger {
        display: flex;
        justify-content: space-between;
        padding: 30px 10px;
        nav {
            display: none;
            
            
        } 
        .logo{
            padding: 10px 20px;
            height: 25px;
            width: 120px;
        }
    }
    .title {
        text-align: center;
        display: flex;
        flex-direction:column;
        align-items: center;
        h1 {
            font-weight: 700;
            padding-bottom: 5%;
            font-size: 2.8em;
            letter-spacing: 8px;
        }
        img{
            width: 40px; 
        }
    }
    @media screen and (min-width: 768px) {
        .logoHamburger {
            nav {
                display: inline-block;
                .list {
                    @include ul;
                    li {
                        a {
                    
                            @include a;
                            color: white;
                            &:hover {
                                color:$darkModerateCyan;
                                text-transform: uppercase;
                                background-color: $white;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
        .title {
            h1 {
           font-size: 4em;
            }
        }
    } 
}
//---EGG-----------------------------------------------------
.desktopGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 400px 300px 400px 500px 500px;

#egg {
    background: url("./images/photos/image-transform.jpg");
    @include background-image;
}

//---BRAND-------------------------------------------------------------------------------------------
#brand {
    background-color: $beige;
    display: flex;
    align-items: center;
    @include layout;
    h2 {
        @include h2;
    }
    p {
        @include p;
    }
    .learnM{
        @include learnM;
    }

}
@media only screen and (min-width: 768px){
    #brand {
        @include layout;
        p {
            @include p;
        }
        background-color: $beige;
        display: flex;
        align-items: center;
        .learnM{
            @include learnM;
        }
        h2 {
            @include h2;
            
        }
    }
}


//---Glass---------------------------------------------------
#glass {
    background: url("./images/photos/image-stand-out.jpg");
    @include background-image;
}

//---AUDIENCE-------------------------------------------------------------------------------------
#audience {
    @include layout;
    @include h2;
    p {
        @include p;
    }
    background-color: $beige;
    display: flex;
    align-items: center;
    .learnM{
        @include learnM;
    }
}
@media only screen and (min-width: 768px){
    #audience {
        @include layout;
        p {
            @include p;
        }
        background-color: $beige;
        display: flex;
        align-items: center;
        .learnM{
            @include learnM;
        }
        h2 {
            @include h2;
            
        }
    }
}

//---DESIGN--------------------------------------------------------------------------------------------
#design {
    background: url(./images/photos/image-graphic-design.jpg);

    @include background-image;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10%;
    @include layout;
    @include h2;
    @include p;
    h2, p {
        color: $darkDesaturatedCyan;
    }
}

//---PHOTOGRAPHY------------------------------------------------------------------------------------------
#photography {
    background: url(./images/photos/image-photography.jpg);

    @include background-image;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10%;
    @include layout;
    @include h2;
    @include p;
    h2, p{
        color: $veryDarkDesaturatedBlue;
        opacity: 75%;
    }
    
}
//---DESKTOP-GRID----------------------------------------------------------------
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 600px 600px 600px;
        #egg {
            order: 2;
        }
        #brand {
            order: 1;
        }
        #glass {
            order: 3;
        }
        #audience {
            order: 4;
        }
        #design {
            order: 5;
        }
        #photography {
            order: 6;
        }
    }
}

//---TESTIMONIALS----------------------------------------------------------------------------------------
#testimonials {
    background-color: $beige;
    text-align:center;
    h3 {
        text-transform: uppercase;
        color: $grayishBlue;
        letter-spacing: 4px;
        padding: 10% 0;
        font-family: $familyTwo;
        font-size: 1em;
    }
    .people {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 50px;
        padding: 0 7%  10% 7%;;
        .person {
            img {
                width: 20%;
                border-radius: 100%;;
            }
            .experience {
                font-size: 18px;
                font-family: $familyOne;
                font-weight: 700;
                color: $veryDarkGrayishBlue;
                line-height: 30px;
            }
            .name {
                font-size: 18px;
                font-family: $familyTwo;
                font-weight: bold;
            }
            .job {
                font-size: 15px;
                font-family: $familyOne;
                font-weight: 600;
                color: $grayishBlue;
            }
        }
    }
    @media only screen and (min-width: 768px) {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;;
            .people {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                width: 70%;
            }
        }
    }
}
//---PHOTOS--------------------------------------------------------------------------------------------

.fourphotos {
    .photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        img{
            width: 100%;
        }
    }
    @media only screen and (min-width: 768px) {
        .photos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }
}

//---FOOTER------------------------------------------------------------------------------------------------------------
footer {
    .container{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        height: 400px;
        background-color: #90d4c5;
        .logoTwo {
            height: 25px;
            width: 120px;
            opacity: 75%;
        }
        nav {
            color: $darkModerateCyan;
            ul {
                @include ul;
                display: flex;
                justify-content: space-between;
                li{
                    a {
                        @include a;
                        padding: 0 12px;
                        color:$darkModerateCyan;

                        &:hover {
                            color:$darkModerateCyan;
                            text-transform: uppercase;
                            background-color: $white;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .social-media{
            a {

                padding: 0 12px;
                color: black;
            }
        }
    }

}
