@mixin layout {
    text-align: center;
    h2 {
        font-family: $familyTwo;
        color: $veryDarkDesaturatedBlue;
        font-size: 30px;
    }
    p {
        color: $darkGrayishBlue;
        font-family: $familyOne;
    }
    a {
        color: $veryDarkDesaturatedBlue;
        font-family: $familyTwo;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        border-bottom: 10px solid #fedad4;
    }
}

@mixin background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
