//color

//primary color
$softRed :  hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan: hsl(167, 40%, 24%);  //graphic design text
$darkBlue: hsl(198, 62%, 26%);  //photography text
$darkModerateCyan : hsl(168, 34%, 41%); //footer

//neutral
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$beige: #fffbf8;

//-------------------------------------------------------------

//Typography

//body copy
 $fontSize : 18px;

//font

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:opsz@9..144&display=swap');  //font-family: 'Barlow', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');                //font-family: 'Fraunces', serif;

$familyOne: 'Barlow', sans-serif;
$familyTwo: 'Fraunces', serif;

